<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h5>
        1. Download the latest version of the jar https://github.com/CorporateFounder/unitedStates_storage/tree/master/target
        2. Using the wallet, download the resources folder and the entire blockchain. Wallet jar here https://github.com/CorporateFounder/unitedStates_final/tree/master/target latest version.
        3. copy the resources folder to your server in the server folder. that is, C://server/resources should be located like this. The server folder should be at the top level.
        4. On your server, set the time using these instructions Command prompt as administrator:

        1). net stop w32time
        2). w32tm /config /manualpeerlist:"0.ch.pool.ntp.org, 1.ch.pool.ntp.org, 2.ch.pool.ntp.org, 3.ch.pool.ntp.org" /syncfromflags: manual /reliable:yes /update

        (an error pops up saying that the service is not running because you stopped it. Continue entering commands.)

        3). net start w32time

        4). w32tm/resync

        5). Wait about 5 minutes,

        6). w32tm /query /peers
        5. start your java server -Dserver.port=82 -Dserver.address=194.87.236.38 -jar C://unitedStates-0.0.9-SNAPSHOT.jar where enter your port in the port, and your host in the address. Instead, write your version of unitedStates-0.0.198-jar that you downloaded.
        6. Make sure you have jdk 19 or higher installed.
        if you did everything correctly, then you can connect to your server like this http://194.87.236.238:82/datashort by specifying the host and port
        -------------------------------
        To check the integrity of the server, you must configure your wallet on your server, then take three steps to verify. 1. call localhost:80802/testCalculate on the wallet, if everything is correct, then in the console you will see two [] [] empty square brackets as in the picture. If not, you will see a list of incorrect invoices.
        If you still see a list of incorrect accounts, it means either there was an error on the wallet or on the server. To fix this problem, try replacing the resources folder on the server,
        and if after 100 blocks this problem occurs, then download the resources folder from scratch using your wallet. Since the balance file itself and the wallet may have been damaged. Because of this,
        it is better to turn off the wallet once a day when this test has passed and make a backup of this folder so as not to download from scratch. 2. Click on the update button on the wallet so that your
        wallet will update to your server and sync with it. Immediately log into your server by registering your http://194.87.236.238:82/datashort host port, and immediately
        log into the C:\resources\tempblockchain folder on your wallet and go to the file. If the height of your server and wallet are the same, then all other parameters should also be the same.
        If not, then either the server or the wallet is broken. 3. Compare your meta data with the official one or others. Example http://194.87.236.238:82/datashort and http://37.205.15.167:82/datashort have the
        same height and necessarily http://194.87.236.238:82/prevBlock http://37.205.15.167:82/prevBlock the hash of the blocks matches, then the meta data in datashort must match.
        If the height is different or /prevBlock is different, then the meta data will not match and this is normal. But if it’s the same, then the metas must match and one of the servers is broken.
        If the meta data does not match, to find out if yours is broken, go to the C:\resources\pooAddressBlocked folder and if in this file you find not just one of its servers,
        but many servers that are blocked. This means it was your server that was broken. Since all servers cannot fail at the same time.

    </h5>

    <h5>
        posted by @SuprTrupr discord
        Ubuntu
        Install PuTTy in your windows PC or something else for remote control.(For VPS server)

        Installation on Ubuntu 22.04 step by step

    </h5>

    <h5>

        sudo apt update && sudo apt upgrade

        apt install openjdk-19-jre-headless

        sudo apt install screen

        sudo ufw allow 82/tcp //or put here your server port

        sudo ufw enable

        sudo ufw status //checking the rules, your port must be allowed

    </h5>

    <h5>

        Copy the .jar and resources folder to the parent folder labeled "/" using FileZilla or similar.
        In the parent folder labeled "/" (You can see the "root", "etc",... folders in this folder.)

    </h5>

    <h5>
        (After copying is complete)
        cd/
        screen
        2x put key SPACE

    </h5>
    <h5>
        put command where u need change ??? to your IP address and PORT number.
        java -Dserver.port=??? -Dserver.address=???.???.???.??? -jar unitedStates-0.0.9-SNAPSHOT.jar

    </h5>
    <h5>
        U can close PuTTy.
        -------------------

        After relogin to PuTTy
        ------------------------
        screen -r //restores .jar session to the screen
    </h5>

    <h4 error/>
    <img th:src="@{/server/error.png}"/>
    <h4 normal/>
    <img th:src="@{/server/normal.png}"/>
    <h4 normal datashort/>
    <img th:src="@{/server/normal-datashort.png}"/>
    <h4 normal datashort in two server/>
    <img th:src="@{/server/normal-datashort-2.png}"/>
    <h4 normal equals prev block in two server/>
    <img th:src="@{/server/normal-datashort-3.png}"/>

</head>
<body>

</body>
</html>