<div th:fragment="header" class="header-custom">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4">
        <a href="/" class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
                <!-- ... -->
            </svg>
            <span class="fs-4">Corporation International Trade Union.</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2" href="/">Main page</a>
        </nav>
    </div>
</div>
